@import "./reset.css";
@import "./fonts/fonts.css";

:root{

}


body {
    max-width: 1280px;
    margin: 63px auto;
    font-family: 'Roboto', sans-serif;
    color: var(--body);
    background-color: var(--bodyBack);
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    width: 334px;
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: var(--logo);
}

.logoRa {
    color: var(--logoBorder);
}

.navbar {
    display: flex;
    height: 72px;
    justify-content: center;
    background-color: var(--navbar);
}

.navbar-link {
    padding-top: 26px;
    padding-bottom: 19px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navbar-link > a {
    color: var(--body);
}

.navbar-link:first-child {
    border-left: 1px solid var(--body);
    flex-basis: 330px;
}

.navbar-link:nth-child(2) {
    border-left: 1px solid var(--body);
    flex-basis: 153px;
}

.navbar-link:nth-child(3) {
    border-left: 1px solid var(--body);
    flex-basis: 284px;
}

.navbar-link:last-child {
    border-left: 1px solid var(--body);
    border-right: 1px solid var(--body);
    flex-basis: 221px;
}

.navbar-link:hover {
    background-color: var(--navbarHover);
}

/*  main block --> */

.mainBlock {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.leftMenu {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid var(--logoBorder);
}

.leftMenu-link {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.leftMenu-link > a {
    color: var(--leftMenu);
}

.leftMenu-link:first-child {
    padding-top: 27px;
}

.leftMenu-link:last-child {
    padding-bottom: 30px;
}

.leftMenu-link:hover {
    background-color: var(--leftMenuHover);
    text-align: center;
    padding-left: 0;
}

.leftMenu-link:hover a {
    color: var(--logoBorder);
}

.article {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.article-img {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid var(--logoBorder);
    justify-content: center;
    align-items: center;
}

.article-img img {
    width: 320px;
    height: 381px;
    transition: transform 0.25s;
    overflow: hidden;
}

.article-img:hover img {
    transform: scale(1.2);
}

.article-text {
    padding-top: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--articleText);
}

/* ----- footer ----- */

.footerMenu {
    display: flex;
    height: 69px;
    margin-top: 51px;
    background-color: var(--footerMenuBack);
    align-items: center;
}

.footerMenu-link {
    padding-left: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footerMenu-link > a {
    color: var(--footerMenu);
}

.footerMenu-link > a:hover {
    color: var(--footerMenuHover);
    text-decoration: underline var(--footerMenuHover);
}

.footerMenu-copyLeft {
    color: var(--copyLeft);
    margin-left: auto;
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;
}
.btn {
    margin-top: 10px;
    width: 150px;
    border: 3px solid var(--footerMenuBack);
    background-color: var(--bodyBack);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color:var(--footerMenuBack);
    color: var(--footerMenuHover);
}